/* 	global css rules in hw2 pages like font-family (@font-face), boxes, and login-register inputs
	author: 9231048 Siavash Kavousi;
	date: 5-11-2016;
	version: 0.1;
*/

body {
	background-color: #1565C0;
}