/* 	global css rules in hw2 pages like font-family (@font-face), boxes, and login-register inputs
	author: 9231048 Siavash Kavousi;
	date: 5-11-2016;
	version: 0.1;
*/

:root {
    --main-color: #1565C0;

    --navbar-color: #37474F;

    --card-color: #fafafa;

    --text-color: #616161;
    --text-color-hover: #757575;
    --text-color-focus: #9E9E9E;

    --init-border-color: #dcdcdc;
    --final-border-color: #E91E63;

    --shadow-color: #969696;
    --dark-shadow-color: #757575;

    --pink: #E91E63;
    --light-pink: #EC407A;
    --lighter-pink: #F06292;
    --light-grey: #ECEFF1;
    --light-blue-900: #01579B;
    --light-blue-700: #0288D1;
    --light-blue-600: #039BE5;
    --brown-500: #795548;
    --gold: #FFD600;
    --silver: #BDBDBD;
    --bronze: #BF360C;
    --green: #8BC34A;
    --grey: #E0E0E0;

    --font-size: 18px;
    --space-size: 5px;
}

html {
    direction: rtl;
    height: 100%;
    font-family: Shabnam, serif;
    font-size: var(--font-size);
    color: var(--text-color);
    box-sizing: border-box;
}

*, *:before, *:after {
    font-family: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    height: inherit;
    background-color: var(--main-color);
}

/* Material Icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../assets/icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../assets/icons/MaterialIcons-Regular.woff) format('woff'),
    url(../assets/icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-11 {
    font-size: 11px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons.orange {
    color: #FB8C00;
}

/* Shabnam Font */

@font-face {
    font-family: Shabnam;
    src: url('../assets/fonts/Shabnam-FD.eot');
    src: url('../assets/fonts/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Shabnam-FD.woff') format('woff'),
    url('../assets/fonts/Shabnam-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('../assets/fonts/Shabnam-Bold-FD.eot');
    src: url('../assets/fonts/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Shabnam-Bold-FD.woff') format('woff'),
    url('../assets/fonts/Shabnam-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../assets/fonts/Shabnam-Light-FD.eot');
    src: url('../assets/fonts/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Shabnam-Light-FD.woff') format('woff'),
    url('../assets/fonts/Shabnam-Light-FD.ttf') format('truetype');
    font-weight: 300;
}

/* Globals */

nav {
    padding-left: 15%;
    padding-right: 15%;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > * {
    margin: 0;
}

nav .text {
    font-weight: bold;
    color: white;
    display: block;
}

.main-content {
    display: table;
    width: 100%;
    height: 85%
}

.vertical-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-color);
    width: 30%;
    min-width: 380px;
    font-weight: bold;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 5px 3px var(--dark-shadow-color);
}

.card-item-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-item-horizontal.container {
    width: 100%;
}

.card-item-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-item-vertical.container {
    width: 100%;
}

input {
    display: block;
    width: 60%;
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 5px;
    border-bottom: solid 2px var(--init-border-color);
    transition: box-shadow 0.3s, border 0.3s;
    margin: 1rem 0.5rem;
    background-color: var(--card-color);
}

input:focus {
    outline: none;
    border-bottom: solid 2px var(--final-border-color);
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    -webkit-transform: translateY(-1.5rem);
    -moz-transform: translateY(-1.5rem);
    -ms-transform: translateY(-1.5rem);
    -o-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.reorder {
    order: -1;
}

input:focus ~ .reorder {
    color: var(--pink);
}

button {
    font-weight: bold;
    font-size: large;
    border: none;
    width: 70%;
    height: 2rem;
    color: white;
    margin-top: 1rem;
    box-shadow: 1px 2px 2px var(--dark-shadow-color);
}

.link:hover {
    color: var(--light-blue-700);
}