/* 	css rules for leaderboard.html page
	author: 9231048 Siavash Kavousi;
	date: 5-11-2016;
	version: 0.1;
*/

.card {
    font-size: 12px;
    margin-top: 1rem;
    border-radius: 0;
}

.card > * {
    margin: 0.2rem auto;
}

.title {
    font-size: 16px;
}

img {
    border-radius: 50%;
}

.card-item-horizontal.margin {
    margin: auto 2rem;
}

.card-item-horizontal.nomargin > * {
    margin: 0;
}

.card-item-vertical.nomargin > * {
    margin: 0;
}

#second-place {
    margin-top: 1.5rem;
}

#third-place {
    margin-top: 1.5rem;
}

#first-place-img {
    border: 2px solid var(--gold);
    width: 70px;
    height: 70px;
}

#second-place-img {
    border: 2px solid var(--silver);
    width: 60px;
    height: 60px;
}

#third-place-img {
    border: 2px solid var(--bronze);
    width: 60px;
    height: 60px;
}

.stars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.stars i {
    /* weirdly taking space */
    width: 8.8%;
}

#first-place {
    align-self: flex-start;
}

.score {
    color: var(--green);
}

#line-breaker {
    width: 85%;
    height: 2px;
    border: none;
    background-color: var(--grey);
    margin-top: 0.5rem;
}

.card-item-bottom {
    width: 93%;
    justify-content: space-around;
}

.low-rank-users img {
    width: 40px;
    height: 40px;
    margin: auto 1.3rem;
}

.low-rank-users.stars {
    justify-content: flex-end;
    width: 30%;
}

.card-item-horizontal.start {
    justify-content: flex-start;
}