/* 	css rules for leaderboard.html page
	author: 9231048 Siavash Kavousi;
	date: 5-11-2016;
	version: 0.1;
*/

.card {
    font-size: 12px;
    margin-top: 1rem;
    border-radius: 0;
}

.card > * {
    margin: 0.2rem auto;
}

.title {
    font-size: 16px;
}

p {
    font-weight: bold;
}

img {
    border-radius: 50%;
}

.card-item-horizontal.margin {
    margin: auto 2rem;
}

.card-item-horizontal.nomargin > * {
    margin: 0;
}

.card-item-vertical.nomargin > * {
    margin: 0;
}

.card-item-vertical.negative-margin {
    margin-right: -2rem;
}

.card-item-vertical.container:hover {
    cursor: pointer;
    background-color: var(--light-grey);
}

.card-item-vertical.container:hover > .stars > .grey {
    color: white;
}

#first-place {
    padding-bottom: 0.9rem;
}

#second-place {
    padding-top: 1.5rem;
}

#third-place {
    padding-top: 1.5rem;
}

#first-place-img {
    border: 2px solid var(--gold);
    width: 70px;
    height: 70px;
}

#second-place-img {
    border: 2px solid var(--silver);
    width: 60px;
    height: 60px;
}

#third-place-img {
    position: relative;
    border: 2px solid var(--bronze);
    width: 60px;
    height: 60px;
}

.stars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.stars i {
    /* weirdly taking space */
    width: 8.8%;
}

.score {
    color: var(--green);
}

#line-breaker {
    width: 92%;
    height: 2px;
    border: none;
    background-color: var(--grey);
    margin-top: 0.5rem;
}

.low-rank-users img {
    width: 40px;
    height: 40px;
}

.low-rank-users {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.low-rank-users.stars {
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    margin-left: 0;
}

.card-item-horizontal.start {
    justify-content: flex-start;
}

.card-item-horizontal.container:hover {
    cursor: pointer;
    background-color: var(--light-grey);
}

.card-item-horizontal.container:hover > .stars > .grey {
    color: white;
}

.card-item-bottom {
    justify-content: space-around;
}

.more {
    cursor: pointer;
    margin: 0.5rem auto;
}

.more:hover {
    color: var(--grey);
}

.hexagon {
    position: relative;
    top: -1rem;
    right: -1rem;
    color: white;
    text-align: center;
}

.square {
    width: 0.75rem;
    height: 1rem;
    background-color: #4d4d4d;
    left: 4px;
    z-index: 1;
}

.triangle1 {
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-right: 0.3rem solid #4d4d4d;
}

.triangle2 {
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.3rem solid #4d4d4d;
}

.low-rank-users.hexagon {
    position: relative;
    right: -4rem;
    top: 0.8rem;
    color: white;
    font-size: 7px;
    font-weight: normal;
    text-align: center;
}

.low-rank-users > .square {
    width: 0.4rem;
    height: 0.8rem;
    background-color: #4d4d4d;
    left: 4px;
    z-index: 1;
}

.low-rank-users > .triangle1 {
    border-top: 0.4rem solid transparent;
    border-bottom: 0.35rem solid transparent;
    border-right: 0.3rem solid #4d4d4d;
}

.low-rank-users > .triangle2 {
    border-top: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;
    border-left: 0.3rem solid #4d4d4d;
}