/* 	css rules for login.html page
	author: 9231048 Siavash Kavousi;
	date: 5-11-2016;
	version: 0.1;
*/

#login-button {
    background-color: var(--pink);
}

#login-button:hover {
    background-color: var(--lighter-pink);
    box-shadow: 1px 2px 6px var(--dark-shadow-color);
}

#login-button:focus {
    background-color: var(--lighter-pink);
    box-shadow: 1px 2px 6px var(--dark-shadow-color);
    outline: none;
}

#forgot-pass {
    text-decoration: underline;
    font-weight: lighter;
}

#forgot-pass:hover {
    color: var(--text-color-hf);
}

#forgot-pass:focus {
    color: var(--text-color-hf);
}

.card-bottom {
    background-color: var(--light-grey);
    margin-top: 1rem;
}

#no_acc {
    display: inline-block;
    margin-left: var(--space-size);
}

